:root {
  --primary: #023047;
  --secondary: #8ecae6;
  --accent: #fb8500;
  --light-text: #eee6e8;
  --dark-text: #0e0d0f;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* nav */

nav,
.hero-section{
    display: flex;
}

.logo {
  font-weight: bold;
}
nav {
  padding: 16px 24px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
button.cta {
  width: fit-content;
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--dark-text);
  background-color: var(--accent);
  border: none;
  font-weight: bold;
}

/* hero section */

.hero-section{
    justify-content: space-around;
    background-color: var(--primary);
    color: var(--light-text);

    & .hero-text-container h1,h3{
        text-align: start;
    }
}
.hero-image {
  width: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

/* main section */

main{
    display: grid;
}